
<html>
    <head>
      <base target="_top">
      <title>La Jatata</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--Borrar-->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
      <div class="topnav">
        <!--<a class="split" (click)="goToComandasPage()">Mandar Comanda</a>-->
        <button (click)="modifyReservation()" mat-mini-fab color="primary" class="round-button">
          <mat-icon >edit</mat-icon>
        </button> 
        <!--<input class="date-picker" type="date"> -->
        <h1 class="date-picker">Reserva: {{reserve.clientName}}</h1>
        <a class="split" (click)="saveReservation()">Guardar</a>
      </div>
      
      <div class="container">
        <!--<div class="flex-item"> 1</div>-->
        <section class="flex-item">
          <article class="receipt flex-column">
              <div class="restaurant-header">
                  <p class="receipt-headers">La Jatata</p>
                  <p class="receipt-headers">4 Esquinas</p>
                  <p class="receipt-headers">Cochabamba, Cbba</p>
                  <p class="receipt-headers">70772977</p>
                  <p class="receipt-headers"></p>
              </div>
          </article>
          <div class="receipt-details">
            <table class="receipt-table">
                <thead>
                  <tr>
                      <td class="dotted-border" colspan="6"></td>
                  </tr>
                  <tr>
                      <th class="table-header">Producto</th>
                      <th class="table-header">Cantidad</th>
                      <th class="table-header">SubTotal</th>
                      <th class="table-header">Editar</th>
                      <th class="table-header">Borrar</th>
                  </tr>
                  <tr>
                      <td class="dotted-border" colspan="6 "></td>
                  </tr>   
                </thead>
                <tbody>
                  <tr *ngFor="let or of order">
                    <td>{{ or.product_name }}</td>
                    <td>{{ or.quantity }}</td>
                    <td>{{ or.total }}</td>
                    <td><span (click)="editClicked(or)" class="material-symbols-outlined grow">edit</span></td>
                    <td><span (click)="deleteClicked(or)" class="material-symbols-outlined grow">delete</span></td>
                  </tr>
                </tbody>
            </table>
          </div>
          <div class="receipt-summary">
            <table class="summary-table">
                <tbody class="summary-table" id="total-summary">
                    <tr>
                        <td class="dotted-border" colspan="5"></td>
                    </tr>
                    <tr>
                        <td class="empty-border" colspan="5"></td>
                    </tr>
                </tbody>  
                <tbody class="summary-table" id="payment-summary">
                    <tr>
                      <td class="right-row">Total:</td>
                      <td class="right-row" id="subtotal-summary">{{reserve.total}} Bs</td>
                      <td></td>
                    </tr>
                    <tr>
                        <td class="right-row">Monto Cancelado:</td>
                        <td class="right-row" id="amount-paid">$0.00</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right-row" id="tip-change-title">Cambio:</td>
                        <td class="right-row" id="tip-change-value">$0.00</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right-row">Método de pago:</td>
                        <td class="right-row" id="payment-type"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="dotted-border" colspan="3"></td>
                    </tr>
                    <tr>
                        <td class="empty-border" colspan="3"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </section>  
  
        <div id="menu-container" class="flex-item">
          <div class="categories">
            <a *ngFor="let cat of categories" [ngClass]="{'active': cat.active}" (click)="changeCategory(cat)">{{cat.name}}</a>
            <!--<a class="active" (click)="changeCategory()">Platos</a>
            <a (click)="changeCategory()">Bebidas</a>
            <a (click)="changeCategory()">Tragos</a>
            <a (click)="changeCategory()">Lacteos</a>-->
          </div>
          <mat-card class="menu-item" *ngFor="let pro of products" (click)="openDialog(pro)">
            {{pro.name}}
          </mat-card>  
          </div>
        </div>
      <!--<ul *ngFor="let pro of products">
        <li>
          {{pro.name}}
        </li>
      </ul>-->
    </body>
  </html>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  <router-outlet></router-outlet>
  