@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,200&display=swap');


.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
  }
  .topnav a.split {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #04AA6D;
  }
  .categories {
    background-color: #333;
    overflow: hidden;
    display: flex;
    height: fit-content;
    width: 100%;
  }
  .categories a {
    flex: 1 1 0px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .categories a:hover, .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .categories a.active {
    background-color: #04AA6D;
    color: white;
  }
  .date-picker{
    font-size: 30px;
    background-color: transparent;
    color: #04AA6D;
    border: none;
    margin: auto;
    display: block;
  }
  .container, #menu-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    height: fit-content;
    background-color: blue;
    align-items: stretch;
  }
  .flex-item{
    flex:60px;
    border: black solid;
  }
  .menu-item{
    border: black solid;
    border-width: 50%;
    margin: 1%;
    border-radius: 12px;
    background-color: #cb9ca1;
    height:45px;
    padding: 0px 5px;
    width: fit-content;
    line-height: 45px;
  }
  .receipt-headers{
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    margin: 0;
  }
  .dotted-border {
    border-bottom: dotted 2px;
}

  .restaurant-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .receipt-table{
    align-items: center;
  }
  .receipt-details{
    display: flex;
    flex-direction: column;
  }
  .receipt-summary{
    display: flex;
    flex-direction: column;
    margin-top:auto;
  }
  .summary-table{
    align-items: end;
  }
  td{
    text-align: center;
  }
  table.summary-table { 
    text-align: right;
}
.right-row{
  text-align: right;
}
.material-symbols-outlined:hover{
  transform: scale(1.2);
}
.grow {
  transition: all .2s ease-in-out;
}
/*tbody.summary-table td:nth-child(1) {
    width: 277px;
}

tbody.summary-table td:nth-child(2) {
    width: 75px;
}

tbody.summary-table td:nth-child(3) {
    width: 25px;
}*/
  
