.margin{
    margin-right: 10px;
    margin-left: 15px;
}
input { 
    text-align: center; 
}
mat-select{
    text-align-last:center;
}
mat-form-field{
    width: 70%;
}
h1{
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
}