<body>
    <div class="topnav">
      <!--<a class="split" (click)="goToComandasPage()">Mandar Comanda</a>-->
      <mat-form-field  class="date-input full-width center" appearance="fill">
        <input (dateChange)="dateChanged('change', $event)" class="date-picker" [(ngModel)]='date' matInput [matDatepicker]="picker">
        <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
        <!--<input (change)="dateChanged()"[(ngModel)]='date' class="date-picker" type="date"> -->
        <!--<a class="split">Guardar</a>-->
    </div>
    <div class="flex-container">
        <mat-card class="reservation-card" *ngFor="let res of reservations">
            <mat-card-title>{{res.clientName}}</mat-card-title>
            <mat-card-subtitle>Zona: {{res.zone}}</mat-card-subtitle>
            <mat-card-subtitle>Número de personas: {{res.num_people}}</mat-card-subtitle>
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Platos reservados:
                    </mat-panel-title>
                    <mat-panel-description>
                      Presione para mostrar
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <ul>
                    <li *ngFor="let pro of res.products">{{pro.quantity}} {{pro.product_name}}</li>
                  </ul>  
                  <button mat-raised-button color="primary" (click)="goToComandasPage(res)">Comanda</button>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion *ngIf="notaExists(res)">
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Nota:
                  </mat-panel-title>
                  <mat-panel-description>
                    Presione para mostrar
                  </mat-panel-description>
                </mat-expansion-panel-header>
                  <p>{{res.notas}}</p> 
              </mat-expansion-panel>
          </mat-accordion>
            <!--<mat-card-subtitle>Productos</mat-card-subtitle>
            <mat-card-content>
                <ul>
                    <li *ngFor="let pro of res.products">{{pro.product_name}}</li>
                </ul>  
            </mat-card-content>-->
            <mat-divider inset></mat-divider>

            <mat-card-actions>
                <button [disabled]="totalEqualsZero(res)" (click)="openRecibo(res)" mat-raised-button color="primary">Generar Cuenta</button>
                <button mat-mini-fab color="primary" (click)="deleteReservation(res)" class="round-button">
                  <mat-icon>delete</mat-icon>
                </button>
                  <button (click)="modifyReservation(res)" mat-mini-fab color="primary" class="round-button">
                    <mat-icon>edit</mat-icon>
                  </button>
              </mat-card-actions>
        </mat-card>
    </div>
</body>