<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
</head>

<body>
    <h1  mat-dialog-title>Seleccionar Cantidad</h1>
    <h3  mat-dialog-title>{{product}}</h3>
    <div class="plus-minus-container">
        <button type="button" (click)="minus()">
            <i class="material-icons">remove</i>
        </button>
        <input type="text" [value]="quantity" class="quantity-input" size="3" name="cant" (change)="valuechange($event)">
        <button type="button" (click)="plus()">
            <i class="material-icons">add</i>
        </button>
    </div>
    <div class="buttons-container">
        <mat-dialog-actions>
            <button  mat-raised-button (click)="closePopUp()" >Cerrar</button>
            <button  mat-raised-button (click)="confirmClicked()">Confirmar</button>
        </mat-dialog-actions>
    </div>
</body>
