<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div  style="text-align: left">
    <div class="container">
      <div class="example-toolbar" id="myTopnav">
        <!--<a href="#menu">Menú</a>
        <a href="/cocina">Cocina</a>
        <a href="#ventas">Ventas</a>
        <a href="/productos">Productos</a>
        <a href="/waiters">Asignar Meseros</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>-->
  
        <div class="topnav-right">
          <a class="active" href="/reservas">Reservas</a>
          <a class="active1" (click)="showForm()" ><span class="material-symbols-outlined">
            add
            </span></a>
          
        </div>
      </div>
    </div>
  </div>
  <!--style="margin: -8px;" fixedTopGap="56"-->
 <!-- <p>Bodyyy</p>-->
</body>
</html>

