<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <!--<div  style="text-align: left">
    <div class="container">
      <div class="example-toolbar" id="myTopnav">
  
        <div class="topnav-right">
          <a class="active">Reserva</a>
          <a class="active1" (click)="showForm()"><span class="material-symbols-outlined">
            add
            </span></a>
        </div>
      </div>
    </div>
  </div>-->
  <mat-card class="reservations-card" *ngIf="reservationExists()">
    <mat-card-title class="center-mat"><strong>Reservaciones para hoy</strong></mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <h1 class="center-mat"> <strong>{{reservations.length  }}</strong></h1>
    </mat-card-content>
  </mat-card>
  <div *ngIf="menuExists()" class="card-container">
    <mat-card *ngFor="let item of menu.products">
      <mat-card-title class="center-mat"><strong>{{item.product_name}}</strong></mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="content-container">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile class="left upper">
            <div>
              <h1 class="center-mat upper-margin"> <strong>Preparado</strong></h1>
              <h1 class="center-mat">{{item.prepared}}</h1>
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="upper">
            <div>
              <h1 class="center-mat upper-margin"> <strong>Reservado</strong></h1>
              <h1 class="center-mat" >{{item.reservated}}</h1>
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="left">
            <div>
              <h1 class="center-mat upper-margin"> <strong>Entregado</strong></h1>
              <h1 class="center-mat">{{item.delivered}}</h1>
            </div>
          </mat-grid-tile>
          <mat-grid-tile >
            <div>
              <h1 class="center-mat upper-margin"> <strong>Disponible</strong></h1>
              <h1 class="center-mat" [ngStyle]="{'color':getColor(item.prepared! - item.reservated!)}">{{item.prepared! - item.reservated!}}</h1>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
  <!--style="margin: -8px;" fixedTopGap="56"-->
 <!-- <p>Bodyyy</p>-->
</body>
</html>

