@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

* {
    font-family: Nunito;
  }
  h1 {
    color: #fafcff;
    font-size: 2.5rem;
    font-family: Nunito;
    border-bottom: 1px solid rgb(225, 225, 225);
    padding-bottom: 5px;
    
  }
  h2, h3 {
    color: #444;
    font-weight: lighter;
  }
  h3 {
    font-size: 1.3rem;
  }
  body {
    padding: .5rem;
    max-width: 1000px;
    margin: auto;
  }
  @media (min-width: 600px) {
    body {
      padding: 2rem;
    }
  }
  body, input[text] {
    color: #333;
    font-family: Nunito;
  }
  a {
    cursor: pointer;
  }
  .guardar {
    background-color: #06b265be;
    border:#eee;
    border-style: double;
    border-width: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: #eee;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
  }
  .reservar {
    background-color: #06b265be;
    border: #eee;
    border-style: double;
    border-width: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: #eee;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
  }

  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* Navigation link styles */
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
  }
  
  nav a:hover {
    color: white;
    background-color:  #42545C;
  }
  nav a.active {
    background-color: black;
    color: white;
  }
 .form-lugar {
  width: 200px;
  height: 200px;
  font-size: 30px;
  color: #42545C;
 }
  input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
  }
  .fechaylugar {
    display: flex;
  }
  
  .date {
    margin-right: 4rem;
  }

  .notas {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    border-top: 1px solid rgb(225, 225, 225);
    padding-top: 10px;
    
  }
 
  .notas-input {
    margin-top: 10px;
    
  }
  .date-input{
    max-width: 180px ;
  }
  .full-width{
    min-width:100%;
  }
  .margin{
    margin-right: 10px;
  }
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  */








  