<html>
    <head>
      <base target="_top">
      <title>La Jatata</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--Borrar-->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
      <div class="topnav">
        <h1 class="date-picker"> Familia: {{reserva.clientName}}</h1>
        <a (click)="sendComanda()" class="split">Mandar</a>
      </div> 
      
      <div class="container">
        <!--<div class="flex-item"> 1</div>-->
        <section class="flex-item">
          <article class="receipt flex-column">
              <div class="restaurant-header">
                  <p class="receipt-headers">La Jatata</p>
                  <p class="receipt-headers">4 Esquinas</p>
                  <p class="receipt-headers">Tiquipaya, Cbba</p>
                  <p class="receipt-headers">70772977</p>
                  <p class="receipt-headers"></p>
              </div>
          </article>
          <div class="receipt-details">
            <table class="receipt-table">
                <thead>
                  <tr>
                      <td class="dotted-border" colspan="8"></td>
                  </tr>
                  <tr>
                      <th class="table-header">Producto</th>
                      <th class="table-header">Reservado</th>
                      <th class="table-header">Mandado</th>
                      <th class="table-header">Entregado</th>
                      <th class="table-header">Pendiente</th>
                  </tr>
                  <tr>
                      <td class="dotted-border" colspan="8"></td>
                  </tr>   
                </thead>
                <tbody>
                  <tr *ngFor="let or of reserva.products">
                    <td>{{ or.product_name }}</td>
                    <td>{{ or.quantity }}</td> 
                    <td>{{ or.sentQuantity }}</td>
                    <td>{{ or.receivedQuantity }}</td>
                    <td>{{ or.pendant }}</td>
                    <td><button [disabled]="noItemsLeft(or)" (click)="openDialog(or)" mat-flat-button color="primary">Mandar</button></td>
                  </tr>
                </tbody>
            </table>
          </div>
          <div class="receipt-summary">
            <table class="summary-table">
                <tbody class="summary-table" id="total-summary">
                    <tr>
                        <td class="dotted-border" colspan="7"></td>
                    </tr>
                    <tr>
                        <td class="empty-border" colspan="7"></td>
                    </tr>
                </tbody>  
            </table>
        </div>
        <div>
          <button [disabled]="allComandasSent()" (click)="sendAllComandas()" class="all-btn" mat-flat-button color="warn">Mandar Todo</button>
        </div>
        </section>  
  
        <div id="menu-container" class="comanda-container flex-item"> 
          <div>
          <mat-card class="comanda-card">
            <mat-card-title class="title">Mesero</mat-card-title>
            <mat-card-subtitle class="subtitle">Cliente: {{reserva.clientName}}</mat-card-subtitle>
            <mat-card-subtitle class="subtitle">Zona: {{reserva.zone}}</mat-card-subtitle>
            <mat-card-subtitle class="subtitle">14:00</mat-card-subtitle>
            <mat-divider inset class="divider"></mat-divider>
            <br>
            <mat-card-actions *ngFor="let pro of comanda.products">
              <mat-card-content class="quantity-name"> {{pro.quantity}}   {{pro.product_name}}</mat-card-content>
              <!--<button class="button-comanda" mat-flat-button color="warn">{{pro.state}}</button>-->
              <button (click)="deleteProduct(pro)" class="button-comanda" mat-flat-button color="warn">Eliminar</button>
            </mat-card-actions>
            <mat-divider inset></mat-divider>
            <mat-card-content>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Notas (Opcional)</mat-label>
                <textarea matInput  [(ngModel)]="notes"></textarea>
              </mat-form-field>
            </mat-card-content>
            
            </mat-card> 
        </div> 
        </div>
        </div>

      <!--<ul *ngFor="let pro of products">
        <li>
          {{pro.name}}
        </li>
      </ul>-->
    </body>
  </html>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  <router-outlet></router-outlet>
  